<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fimae">
    <!-- permission cho việc kết nối internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- permission cho cuộc gọi -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Nếu sử dụng class StringeeAudioManager của Stringee quản lý phát âm thanh thì cần thêm các permission này -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fimae"
        tools:targetApi="31">
        <activity
            android:name=".activities.PostContentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".StoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MediaSliderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ShortVideoActivity"
            android:exported="false" />

        <service android:name=".service.UpdateUserActivityTimeService" />

        <activity
            android:name=".activities.SearchUserActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.fimae.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.OnChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailPostActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activities.ChatRandomActivity" />
        <activity
            android:name=".activities.PostActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- android:allowBackup="true" -->
        <!-- android:dataExtractionRules="@xml/data_extraction_rules" -->
        <!-- android:fullBackupContent="@xml/backup_rules" -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <!-- android:supportsRtl="true" -->
        <!-- android:theme="@style/Theme.Fimae" -->
        <!-- tools:targetApi="31"> -->
        <activity
            android:name=".activities.WaitingActivity"
            android:exported="false" /> <!-- android:name=".activities.WaitingActivity" -->
        <!-- android:exported="false"/> -->
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/shape_gender_border_blue" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <activity -->
        <!-- android:name=".activities.ChatActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_chat" -->
        <!-- android:theme="@style/Theme.Fimae.NoActionBar" /> -->
        <activity
            android:name=".activities.ConnectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CallVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CallActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />
    </application>

</manifest>